<ul class="navbar-nav mr-auto" style="margin-left: 50px;">
  <li class="nav-item">
    <a class="nav-item nav-link font-weight-bold nav-headers" routerLink="/category/1">
      Mirrors
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link font-weight-bold nav-headers" routerLink="/category/2">
      Table Decor
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link font-weight-bold nav-headers" routerLink="/category/3">
      Wall Decor
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link font-weight-bold nav-headers" routerLink="/category/4">
      Clocks
    </a>
  </li>
</ul>
